In [54]:
## Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import os

## Source EIA

In [92]:
## Source: https://www.eia.gov/totalenergy/data/browser/?tbl=T10.05#/?f=M
filename = "MER_T10_05_cut.csv"
filepath = os.path.join("data",filename)

eiadf = pd.read_csv(filepath)
eiadf.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit,Y,M
0,SOT8BUS,201201,3.210,1,Distributed Solar Energy Consumption for Heat:...,Trillion Btu,2012,1
1,SOT8BUS,201202,3.460,1,Distributed Solar Energy Consumption for Heat:...,Trillion Btu,2012,2
2,SOT8BUS,201203,4.768,1,Distributed Solar Energy Consumption for Heat:...,Trillion Btu,2012,3
3,SOT8BUS,201204,5.255,1,Distributed Solar Energy Consumption for Heat:...,Trillion Btu,2012,4
4,SOT8BUS,201205,5.801,1,Distributed Solar Energy Consumption for Heat:...,Trillion Btu,2012,5

In [93]:
eiadf['Description'].value_counts()

Distributed Solar Energy Consumption for Electricity:  Total                       75
Solar Energy Consumption                                                           75
Distributed Solar Energy Consumption for Electricity:  Commercial Sector           75
Utility-Scale Solar Energy Consumption: Total                                      75
Distributed Solar Energy Consumption for Electricity:  Industrial Sector           75
Utility-Scale Solar Energy Consumption for Electricity:  Electric Power Sector     75
Utility-Scale Solar Energy Consumption for Electricity: Commercial Sector          75
Distributed Solar Energy Consumption for Electricity:  Residential Sector          75
Distributed Solar Energy Consumption:  Total                                       75
Utility-Scale Solar Energy Consumption for Electricity: Industrial Sector          75
Distributed Solar Energy Consumption for Heat:  Total                              75
Name: Description, dtype: int64

In [94]:
# values = eiadf[['Value', 'YYYYMM']]
# values = values.loc[values['Value'] != "Not Available"
values = eiadf[['YYYYMM','Value']]
values

     YYYYMM   Value
0    201201   3.210
1    201202   3.460
2    201203   4.768
3    201204   5.255
4    201205   5.801
5    201206   5.853
6    201207   6.145
7    201208   6.081
8    201209   5.546
9    201210   5.055
10   201211   4.146
11   201212   3.936
12   201301   3.290
13   201302   3.547
14   201303   4.887
15   201304   5.386
16   201305   5.946
17   201306   5.999
18   201307   6.298
19   201308   6.232
20   201309   5.684
21   201310   5.181
22   201311   4.250
23   201312   4.034
24   201401   3.437
25   201402   3.657
26   201403   4.996
27   201404   5.445
28   201405   6.015
29   201406   6.062
..      ...     ...
795  201510  34.208
796  201511  29.576
797  201512  27.154
798  201601  25.996
799  201602  35.041
800  201603  43.282
801  201604  47.932
802  201605  55.174
803  201606  56.232
804  201607  61.492
805  201608  60.982
806  201609  55.312
807  201610  48.917
808  201611  41.301
809  201612  37.004
810  201701  34.568
811  201702  39.401
812  201703  64.409
813  201704  70.208
814  201705  82.084
815  201706  87.309
816  201707  81.295
817  201708  79.435
818  201709  74.195
819  201710  68.260
820  201711  47.416
821  201712  45.697
822  201801  48.632
823  201802  57.253
824  201803  74.537

[825 rows x 2 columns]

In [95]:
values.dtypes

YYYYMM      int64
Value     float64
dtype: object

In [96]:
values.columns

Index(['YYYYMM', 'Value'], dtype='object')

In [97]:
from datetime import datetime

listdf=[]
for i, row in values.iterrows():
    listdf.append(row)
ls1 = [i["Value"] for i in listdf]
ls2 = [datetime.strptime(str(int(i["YYYYMM"])),"%Y%m") for i in listdf]
#ls2 = [str(int(i["YYYYMM"])) for i in listdf]
#print(ls2)
newdf = pd.DataFrame(data={"YYYYMM":ls2,"Value":ls1, })
newdf.dtypes

YYYYMM    datetime64[ns]
Value            float64
dtype: object

In [98]:
newdf.to_csv("data/monthdatacut.csv", index=False)

In [99]:
#remove values totals respresented with YYYY13

newdf.plot()
plt.show()

ValueError: ordinal must be >= 1

In [3]:
## Source: https://www.eia.gov/totalenergy/data/browser/?tbl=T10.01#/?f=M
filename = "MER_T10_01.csv"
filepath = os.path.join("data",filename)

eiadf1 = pd.read_csv(filepath)
eiadf1.head()

,MSN,YYYYMM,Value,Column_Order,Description,Unit
0,BFPRBUS,194913,Not Available,1,Biofuels Production,Trillion Btu
1,BFPRBUS,195013,Not Available,1,Biofuels Production,Trillion Btu
2,BFPRBUS,195113,Not Available,1,Biofuels Production,Trillion Btu
3,BFPRBUS,195213,Not Available,1,Biofuels Production,Trillion Btu
4,BFPRBUS,195313,Not Available,1,Biofuels Production,Trillion Btu

In [40]:
eiadf1['Description'].value_counts()

Hydroelectric Power Consumption       612
Total Renewable Energy Consumption    612
Total Biomass Energy Consumption      612
Biofuels Consumption                  612
Solar Energy Consumption              612
Total Biomass Energy Production       612
Geothermal Energy Consumption         612
Wood Energy Consumption               612
Biofuels Production                   612
Wind Energy Consumption               612
Waste Energy Consumption              612
Total Renewable Energy Production     612
Name: Description, dtype: int64

In [7]:
print(len(eiadf1))
values1 = eiadf1[['Value', 'YYYYMM', 'Description']]
values1 = values1.loc[values1['Description'] == "Solar Energy Consumption"]

7344

In [8]:
len(values1)

612

In [9]:
values1

              Value  YYYYMM               Description
3060  Not Available  194913  Solar Energy Consumption
3061  Not Available  195013  Solar Energy Consumption
3062  Not Available  195113  Solar Energy Consumption
3063  Not Available  195213  Solar Energy Consumption
3064  Not Available  195313  Solar Energy Consumption
3065  Not Available  195413  Solar Energy Consumption
3066  Not Available  195513  Solar Energy Consumption
3067  Not Available  195613  Solar Energy Consumption
3068  Not Available  195713  Solar Energy Consumption
3069  Not Available  195813  Solar Energy Consumption
3070  Not Available  195913  Solar Energy Consumption
3071  Not Available  196013  Solar Energy Consumption
3072  Not Available  196113  Solar Energy Consumption
3073  Not Available  196213  Solar Energy Consumption
3074  Not Available  196313  Solar Energy Consumption
3075  Not Available  196413  Solar Energy Consumption
3076  Not Available  196513  Solar Energy Consumption
3077  Not Available  196613  Solar Energy Consumption
3078  Not Available  196713  Solar Energy Consumption
3079  Not Available  196813  Solar Energy Consumption
3080  Not Available  196913  Solar Energy Consumption
3081  Not Available  197013  Solar Energy Consumption
3082  Not Available  197113  Solar Energy Consumption
3083  Not Available  197213  Solar Energy Consumption
3084  Not Available  197301  Solar Energy Consumption
3085  Not Available  197302  Solar Energy Consumption
3086  Not Available  197303  Solar Energy Consumption
3087  Not Available  197304  Solar Energy Consumption
3088  Not Available  197305  Solar Energy Consumption
3089  Not Available  197306  Solar Energy Consumption
...             ...     ...                       ...
3642        425.727  201513  Solar Energy Consumption
3643         25.996  201601  Solar Energy Consumption
3644         35.041  201602  Solar Energy Consumption
3645         43.282  201603  Solar Energy Consumption
3646         47.932  201604  Solar Energy Consumption
3647         55.174  201605  Solar Energy Consumption
3648         56.232  201606  Solar Energy Consumption
3649         61.492  201607  Solar Energy Consumption
3650         60.982  201608  Solar Energy Consumption
3651         55.312  201609  Solar Energy Consumption
3652         48.917  201610  Solar Energy Consumption
3653         41.301  201611  Solar Energy Consumption
3654         37.004  201612  Solar Energy Consumption
3655        568.665  201613  Solar Energy Consumption
3656         34.568  201701  Solar Energy Consumption
3657         39.401  201702  Solar Energy Consumption
3658         64.409  201703  Solar Energy Consumption
3659         70.208  201704  Solar Energy Consumption
3660         82.084  201705  Solar Energy Consumption
3661         87.309  201706  Solar Energy Consumption
3662         81.295  201707  Solar Energy Consumption
3663         79.435  201708  Solar Energy Consumption
3664         74.195  201709  Solar Energy Consumption
3665          68.26  201710  Solar Energy Consumption
3666         47.416  201711  Solar Energy Consumption
3667         45.697  201712  Solar Energy Consumption
3668        774.277  201713  Solar Energy Consumption
3669         48.632  201801  Solar Energy Consumption
3670         57.253  201802  Solar Energy Consumption
3671         74.537  201803  Solar Energy Consumption

[612 rows x 3 columns]